<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>增加课程</title>
    <link rel="stylesheet" href="css/bootstrap.css">
</head>
<body>
<script src="templates/js/jquery-3.4.1.min.js"></script>
<script src="js/bootstrap.js"></script>

<div class="container">
    <div class="row">
        <div class="col-lg-4 col-lg-offset-4"style="text-align: center">
            <form id="form">
                课程名: <input type="text" name="courseName" id="courseName"/>
                <br>
                简介: <input type="text"name="introduction" id="introduction"/>
                <input type="submit"id="submit"value="增加课程" onclick="addCourse()">
            </form>
        </div>
    </div>
</div>
<script>
    function addCourse(){
        var data={
            courseName:$("#courseName").val(),
            introduction:$("#introduction").val()
        };
        $.post("/course")
    }
</script>

</body>
</html>