<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <title>管理员后台</title>
    <link rel="stylesheet" type="text/css" href="/templates/easyui/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/templates/easyui/themes/default/easyui.css" />
    <link rel="stylesheet" type="text/css" href="/templates/easyui/themes/icon.css" />
    <script type="text/javascript" src="/templates/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/templates/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src='/templates/easyui/js/outlook2.js'> </script>
    <script>
        var _menus = {"menus":[
                {"menuid":"2","icon":"","menuname":"课表查看",
                    "menus":[
                        {"menuid":"21","menuname":"课程列表","icon":"icon-user-student","url":"/courseList"},
                    ]
                },
                {"menuid":"4","icon":"","menuname":"请求管理",
                    "menus":[
                        {"menuid":"42","menuname":"课程请求","icon":"icon-house","url":"/courseQuest"}
                    ]
                },
                {"menuid":"6","icon":"","menuname":"学生管理",
                    "menus":[
                        {"menuid":"63","menuname":"添加学生","icon":"icon-house","url":"/addStudent"}
                    ]
                }
            ]};

    </script>
    <script>
        $(document).ready(function (){
            $.ajax({
                url:"/loginOrNot",
                type:"get",
                success:function (data){
                    if(data.name){
                        $("#username").html("欢迎"+data.name);
                    }
                }
            });
        });
    </script>
    <!--<script>
        $("#tabs").load("welcome.html");
    </script>-->
</head>
<<body class="easyui-layout" style="overflow-y: hidden"  scroll="no">
<noscript>
    <div style=" position:absolute; z-index:100000; height:2046px;top:0px;left:0px; width:100%; background:white; text-align:center;">
        <img src="images/noscript.gif" alt='抱歉，请开启脚本支持！' />
    </div>
</noscript>
<div region="north" split="true" border="false" style="overflow: hidden; height: 30px;
        background: url(/templates/images/6.jpg) #7f99be repeat-x center 50%;
        line-height: 20px;color: #fff; font-family: Verdana, 微软雅黑,黑体">
    <span style="float:right; padding-right:20px;" class="head"><span style="color:red; font-weight:bold;"> <li role="presentation" id="username"><a href="login">请登录</a></li></span></span>
    <span style="padding-left:10px; font-size: 16px; ">管理系统</span>

</div>
<div region="south" split="true" style="height: 30px; background: #D2E0F2; ">
    <div class="footer">Copyright &copy; By 【jxrwxz】</div>
</div>
<div region="west" hide="true" split="true" title="导航菜单" style="width:180px;" id="west">
    <div id="nav" class="easyui-accordion" fit="true" border="false">
        <!--  导航内容 -->
    </div>

</div>
<div id="mainPanle" region="center" style="background: #eee; overflow-y:hidden">
    <div id="tabs" class="easyui-tabs"  fit="true" border="false" >
        <!--<iframe SRC="welcome.html" ></iframe>-->
    </div>
</div>
</body>
</html>