<!DOCTYPE html>
<html lang="en"
      xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <title>请求课程列表</title>
    <link rel="stylesheet" type="text/css" href="/templates/easyui/themes/default/easyui.css">
    <link rel="stylesheet" type="text/css" href="/templates/easyui/themes/icon.css">
    <link rel="stylesheet" type="text/css" href="/templates/easyui/css/demo.css">
    <script type="text/javascript" src="/templates/easyui/jquery.min.js"></script>
    <script type="text/javascript" src="/templates/easyui/jquery.easyui.min.js"></script>
    <script type="text/javascript" src="/templates/easyui/js/validateExtends.js"></script>
    <script type="text/javascript" th:inline="none">
        $(function() {
            //datagrid初始化
            $('#dataList').datagrid({
                title:'课程列表',
                iconCls:'icon-more',//图标
                border: true,
                collapsible:false,//是否可折叠的
                fit: true,//自动大小
                method: "get",
                url:"/course/questcoursePage",
                idField:'id',
                singleSelect:false,//是否单选
                pagination:true,//分页控件
                pagePosition:'both',
                rownumbers:true,//行号
                sortName:'id',
                sortOrder:'DESC',
                remoteSort: false,
                columns: [[
                    {field:'chk',checkbox: true,width:50},
                    {field:'id',title:'ID',width:50, sortable: true},
                    {field:'name',title:'姓名',width:150},
                    {field:'teacherName',title:'教师名称',width:150},
                    {field:'introduction',title:'介绍',width:450,
                    },

                ]],
                toolbar: "#toolbar",
            });
            //设置分页控件
            var p = $('#dataList').datagrid('getPager');
            $(p).pagination({
                pageSize: 10,//每页显示的记录条数，默认为10
                pageList: [10,20,30,50,100],//可以设置每页记录条数的列表
                beforePageText: '第',//页数文本框前显示的汉字
                afterPageText: '页    共 {pages} 页',
                displayMsg: '当前显示 {from} - {to} 条记录   共 {total} 条记录',
            });
            //设置工具类按钮
            $("#add").click(function(){
                $("#addDialog").dialog("open");
            });
            //修改
            $("#edit").click(function(){
                var selectRows = $("#dataList").datagrid("getSelections");
                var selectLength = selectRows.length;
                if(selectLength == 0){
                    $.messager.alert("消息提醒", "请选择数据进行申请!", "warning");
                } else{
                    var numbers = [];
                    $(selectRows).each(function(i, row){
                        numbers[i] = row.sn;
                    });
                    var ids = [];
                    $(selectRows).each(function(i, row){
                        ids[i] = row.id;
                    });
                    $.messager.confirm("消息提醒", "将同意该课程，确认继续？", function(r){
                        if(r){
                            $.ajax({
                                type: "post",
                                url: "/courseAgree",
                                data: {sns: numbers, ids: ids},
                                success: function(msg){
                                    if(msg == "success"){
                                        $.messager.alert("消息提醒","申请成功!","info");
                                        //刷新表格
                                        $("#dataList").datagrid("reload");
                                        $("#dataList").datagrid("uncheckAll");
                                    } else{
                                        $.messager.alert("消息提醒","申请失败!","warning");
                                        return;
                                    }
                                }
                            });
                        }
                    });
                }
            });
            //删除
            $("#delete").click(function(){
                var selectRows = $("#dataList").datagrid("getSelections");
                var selectLength = selectRows.length;
                if(selectLength == 0){
                    $.messager.alert("消息提醒", "请选择数据进行删除!", "warning");
                } else{
                    var numbers = [];
                    $(selectRows).each(function(i, row){
                        numbers[i] = row.sn;
                    });
                    var ids = [];
                    $(selectRows).each(function(i, row){
                        ids[i] = row.id;
                    });
                    $.messager.confirm("消息提醒", "将删除与课程相关的所有数据，确认继续？", function(r){
                        if(r){
                            $.ajax({
                                type: "post",
                                url: "/courseDelete",
                                data: {sns: numbers, ids: ids},
                                success: function(msg){
                                    if(msg == "success"){
                                        $.messager.alert("消息提醒","删除成功!","info");
                                        //刷新表格
                                        $("#dataList").datagrid("reload");
                                        $("#dataList").datagrid("uncheckAll");
                                    } else{
                                        $.messager.alert("消息提醒","删除失败!","warning");
                                        return;
                                    }
                                }
                            });
                        }
                    });
                }
            });


        })
    </script>
</head>
<body>
<!-- 学生列表 -->
<table id="dataList" cellspacing="0" cellpadding="0">

</table>
<!-- 工具栏 -->
<div id="toolbar">
    <div style="float: left;"><a id="edit" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-edit',plain:true">同意</a></div>
    <div style="float: left;" class="datagrid-btn-separator"></div>
    <div style="float: left;"><a id="delete" href="javascript:;" class="easyui-linkbutton" data-options="iconCls:'icon-some-delete',plain:true">拒绝</a></div>
</div>
<!-- 提交表单处理iframe框架 -->
<iframe id="photo_target" name="photo_target"></iframe>
</body>
</html>