<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>在线课程学习平台-主页</title>
    <link rel="stylesheet" href="/templates/css/bootstrap.css">
</head>
<body data-spy="scroll" data-target="#navigation"data-offset="120">
<script src="templates/js/jquery-3.4.1.min.js"></script>
<script src="templates/js/bootstrap.js"></script>

<div id="all">
<!--    页面顶端的导航条，右边先是是锚链接，再是链接-->
    <header class="header">
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
<!--            <a href="#all"class="navbar-brand scroll-to"><img alt="Brand" src="/templates/images/logo.jpg"style="width: 40px;height:40px"></a>-->
                    <a class="navbar-brand"id="showUserName" href="/home">
                        <span class="glyphicon glyphicon-home"></span>首页
                    </a>
                    <div class="navbar-buttons">
                        <button type="button"data-toggle="collapse"data-target=".navbar-collapse" class="navbar-toggle navbar-btn">菜单</button>
                   </div>
                </div>
                <div id="navigation"class="collapse navbar-collapse navbar-right">
                    <ul class="nav navbar-nav">
                        <li><a href="#recentCourses" class="scroll-to">最新的课程</a></li>
                        <li><a href="#popularCourses" class="scroll-to">最火的课程</a></li>
                        <li><a href="#contactAdmin" class="scroll-to">联系我们</a></li>
                    </ul>
                    <a href="/login" class="btn navbar-btn btn-ghost">请登录</a></li>
                    <a href="/mine" class="btn navbar-btn btn-ghost"><span class="glyphicon glyphicon-tree-deciduous"></span>我的</a>
                    <a href="/ide" class="btn navbar-btn btn-ghost" target="_blank">在线编译环境</a>
                    <a href='/contactStu'class="teaOnly">教师与学生对话页面</a>
                </div>
            </div>
        </nav>
    </header>

    <section class="text-info no-padding-bottom"style="margin-top: 3%;background: url(/templates/images/background1.png) no-repeat center;padding:50px;">
        <div class="container">
            <div class="row">
                <div class="col-md-12">
                    <h1 class="text-center"style="font-size:50px">这是一个<span class="rotate" style="display:inline;opacity: 0.744996;">在线课程学习平台</span></h1>
                    <h3 class="weight-300 text-center">这是一个自适应的界面。</h3>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <p class="text-center">课程平台上有超过100种课程</p>
                    <form class="form-inline margin-top sign-up-form text-center">
                        <input type="text" class="form-control" placeholder="课程名" id="search">
                        <button type="button" class="btn btn-default"onclick="loadCourses('search')" style="background: #ff5f66;color:white" data-toggle="modal" data-target="#searchContent">搜索</button>
                    </form>
                </div>
                <div class="col-md-12 col-lg-8 col-lg-offset-2"style="margin-top: 20px">
                    <p class="margin-bottom--zero"><img alt=""src="/templates/images/homePicture1.png" class="img-responsive"></p>
                </div>
            </div>
        </div>
    </section>

<!--    搜索的弹窗-->
    <div id="searchContent"tabindex="-1"role="dialog"aria-hidden="true"class="modal fade"aria-labelledby="searchContent">
        <div class="modal-dialog modal-sm">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                    <h4 class="modal-title text-center"id="searchContentTitle"></h4>
                </div>
                <div class="modal-body row"id="searchContentLink">
                </div>
            </div>
        </div>
    </div>

    <section class="section"id="recentCourses"style="background: lightgrey">
        <div class="container" style="padding-bottom: 50px;">
            <div class="row text-center-mobile" id="recentCoursesContent">
            </div>
        </div>
    </section>

    <section class="section"id="popularCourses"style="background: white">
        <div class="container"style="padding-bottom: 50px;">
            <div class="row text-center-mobile" id="popularCoursesContent">
            </div>
        </div>
    </section>
    <section class="section"id="contactAdmin"style="background: lightgrey">
        <div class="container" style="padding-bottom: 50px;padding:50px;">
            <div class="row">
                <div class="col-md-4 text-right">
                    <div class="box-simple">
                        <div class="icon"><span class="glyphicon glyphicon-screenshot"style="font-size: 30px"></span></div>
                        <h3>地址</h3>
                        <p>南京市仙林大学城文苑路3号 210023</p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-simple text-right">
                        <div class="icon"><span class="glyphicon glyphicon-phone-alt"style="font-size: 30px"></span></div>
                        <h3>联系电话</h3>
                        <p class="text-muted">在线时间：星期一至星期五 9:00-16:00</p>
                        <p><strong>+86 180 6175 7197</strong></p>
                    </div>
                </div>
                <div class="col-md-4">
                    <div class="box-simple text-right">
                        <div class="icon"><span class="glyphicon glyphicon-envelope" style="font-size: 30px"></span></div>
                        <h3>邮箱</h3>
                        <p class="text-muted">我们会尽快回复的。</p>
                        <p><strong><a href="mailto:">jqjxxjxr@126.com</a></strong></p>
                    </div>
                </div>
            </div>
        </div>
    </section>



    <footer class="footer"style="background: #260b51">
        <div style="padding:30px">
            <dl class="dl-horizontal"style="color: white">
                <dt>友情链接</dt>
                <dd><a href="http://www.nufe.edu.cn/">南京财经大学</a><br><br><a href="http://lib.nufe.edu.cn/">南京财经大学图书馆</a></dd>
                <dt>2021毕设</dt>
                <dd>Copyright © 2019.Company name All rights reserved.</dd>
            </dl>
        </div>
    </footer>


</div>
<script>
    $(document).ready(function (){
        $.ajax({
            url:"/loginOrNot",
            type:"get",
            success:function (data){
                if(data.name){
                    $("#showUserName").html("<span class=\"glyphicon glyphicon-home\"></span>首页/欢迎"+data.name);
                };
                if(data.identity=="teacher"){
                    alert("请打开教师与学生对话页面，以免错过学生的信息。");
                }else if(data.identity=="student"){
                    if(data.msg){
                        alert("现在是初始密码，请修改密码！");
                    }
                    $(".teaOnly").hide();
                }
            }
        });
        loadCourses("recent");
        loadCourses("popular");
    });

    function loadCourses(string){
        var s1="recent";
        var s2="popular";
        var s3="search";
        var coursesBox=$("#recentCoursesContent");
        if(string==s1){
            $.ajax({
                url:"/course/recent",
                type:"get",
                success:function (data){
                    coursesBox.html("");
                    for(var i=0;i<data.length;i++) {
                        coursesBox.append("<div class=\"col-md-4\"style=\"background: white; height:200px;\"><div class=\"thumbnail\">" +
                            "<div class=\"caption text-center\">" +
                            "<h3 style=\"color:#556b2f\">"+
                            data[i].name+
                            "</h3>"+
                            "<p class=\"introduction\">"+
                            data[i].introduction+
                            "<p class=\"courselink\"><a href=\"/courseDetail/" +
                            data[i].id+
                            "\" class=\"btn btn-info\" role=\"button\">课程详情</a></p></div></div>"
                        );
                    }
                }
            })
        }
        if(string==s2){
            $.ajax({
                url:"/course/popular",
                type:"get",
                success:function (data){
                    var coursesBox=$("#popularCoursesContent");
                    coursesBox.html("");
                    for(var i=0;i<data.length;i++) {
                        coursesBox.append("<div class=\"col-md-4\"style=\"background: white; height:200px;\"><div class=\"thumbnail\">" +
                            "<div class=\"caption text-center\">" +
                            "<h3 style=\"color:darkolivegreen\">"+
                            data[i].name+
                            "</h3>"+
                            "<p class=\"introduction\">"+
                            data[i].introduction+
                            "<p class=\"courselink\"><a href=\"/courseDetail/" +
                            data[i].id+
                            "\" class=\"btn btn-info\" role=\"button\">课程详情</a></p></div></div>");
                    }
                }
            })
        }
        if(string==s3){
            data={
                courseName:$("#search").val()
            };
            $.ajax({
                url:"/course/search",
                type:"post",
                data:data,
                success:function(data){
                    coursesBox=$("#searchContentLink");
                    coursesBox.html("");
                    $("#searchContentTitle").html("");
                    for(var i=0;i<data.length;i++) {
                        $("#searchContentTitle").append(data[i].name);
                        coursesBox.append("<div><p class=\"introduction text-center\">"+
                            data[i].introduction+
                            "<p class=\"courselink text-center\"><a href=\"/courseDetail/" +
                            data[i].id+
                            "\" class=\"btn btn-info\" role=\"button\">课程详情</a></p></div>");
                    }
                }
            })
        }
    }

</script>

</body>
</html>