<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>在线程序实验平台-主页</title>
    <link rel="stylesheet" href="templates/css/bootstrap.css">
</head>
<body>
<script src="templates/js/jquery-3.4.1.min.js"></script>
<script src="templates/js/bootstrap.js"></script>
<style>
    .carousel-inner img {
        width : 100% ;
    }

    .carousel .item {
        height: 500px;
        background-color: #777;
    }
    .carousel-inner > .item > img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 500px;
    }
    .carousel {
        position: relative;
        padding-top: 4px; // added
    padding-bottom: 28px; // added
    background-color: gray light; // added
    }
    /*.btn-info {*/
    /*    background-color:#c1ba62;*/
    /*    color:white;*/
    /*}*/
</style>

<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <img alt="Brand" src="/templates/images/logo.jpg"style="width: 60px;">
            <a class="navbar-brand active"id="showUserName" href="/home">
                <span class="glyphicon glyphicon-home"></span>
                首页</a>
        </div>
            <ul class="nav navbar-nav">
                <li id="username"><a href="login">请登录</a></li>
                <li ><a href="mine"><span class="glyphicon glyphicon-tree-deciduous"></span>我的</a></li>
                <li class="teaOnly"><a href='/contactStu'>教师与学生对话页面</a></li>
                <li><a><input type="text" class="form-control" placeholder="课程名" id="search"></a></li>
                <li><a><button type="submit" class="btn btn-default"onclick="loadCourses('search')">搜索</button></a></li>
            </ul>
    </div>
</nav>

<!--巨幕-->
<div id="carousel-example-generic" class="carousel slide"data-ride="carousel">
    <ol class="carousel-indicators">
        <li data-slide-to="0" data-target="#carousel-example-generic" class="active"></li>
        <li data-target="#carousel-example-generic" data-slide-to="1"></li>
        <li data-target="#carousel-example-generic" data-slide-to="2"></li>
    </ol>

    <div class="carousel-inner" role="listbox">
        <div class="item active" data-small-image>
            <img src="templates/images/1.jpg" alt="..."class="img-responsive">
            <div class="carousel-caption">
                毕设（仅供展示）
            </div>
        </div>
        <div class="item">
            <img src="templates/images/2.png" alt="..."class="img-responsive">
            <div class="carousel-caption">
                毕设（仅供展示）
            </div>
        </div>
        <div class="item">
            <img src="templates/images/3.jpg" alt="..."class="img-responsive">
            <div class="carousel-caption">
                毕设（仅供展示）
            </div>
        </div>

    <a class="left carousel-control" href="#carousel-example-generic" role="button" data-slide="prev">
        <span class="glyphicon glyphicon-chevron-left" aria-hidden="true"></span>
        <span class="sr-only">Previous</span>
    </a>
    <a class="right carousel-control" href="#carousel-example-generic" role="button" data-slide="next">
        <span class="glyphicon glyphicon-chevron-right" aria-hidden="true"></span>
        <span class="sr-only">Next</span>
    </a>
    </div>
</div>

<nav class="navbar">
    <div class="container" style="text-align:center">
        <ul class="list-inline">
            <li class="active"><button class="btn btn-link" type="button" value="recentCourses" style="height:50px" onclick="loadCourses('recent')" autofocus="autofocus">最近的新课程</button></li>
            <li> <button class="btn btn-link" type="button" value="popularCourses" style="height:50px" onclick="loadCourses('popular')">最火的课程</button></li>
        </ul>
    </div>
</nav>

<div class="row" id="coursesBox">
<!--    <div class="col-sm-6 col-md-6">-->
<!--        <div class="thumbnail">-->
<!--            <div class="caption text-center">-->
<!--                <h3>课程名</h3>-->
<!--                <p class="introduction">balalalalalalaal</p>-->
<!--                <p class="courselink"><a href="courseDetail" class="btn btn-info" role="button">课程详情</a></p>-->
<!--            </div>-->
<!--        </div>-->
<!--    </div>-->
</div>

<script>
    $(document).ready(function (){
        $.ajax({
            url:"/loginOrNot",
            type:"get",
            success:function (data){
                if(data.name){
                    $("#showUserName").html("<span class=\"glyphicon glyphicon-home\"></span>首页/欢迎"+data.name);
                };
                if(data.identity=="teacher"){
                    alert("请打开教师与学生对话页面，以免错过学生的信息。");
                }else if(data.identity=="student"){
                    $(".teaOnly").hide();
                }
            }
        });
        loadCourses("recent");
    });

    function loadCourses(string){
        var s1="recent";
        var s2="popular";
        var s3="search";
        var coursesBox=$("#coursesBox");
        if(string==s1){
            $.ajax({
                url:"/course/recent",
                type:"get",
                success:function (data){
                    coursesBox.html("");
                    for(var i=0;i<data.length;i++) {
                        coursesBox.append("<div class=\"col-sm-6 col-md-6\"><div class=\"thumbnail\">" +
                            "<div class=\"caption text-center\">" +
                            "<h3>"+
                            data[i].name+
                            "</h3>"+
                            "<p class=\"introduction\">"+
                            data[i].introduction+
                            "<p class=\"courselink\"><a href=\"/courseDetail/" +
                            data[i].id+
                            "\" class=\"btn btn-info\" role=\"button\">课程详情</a></p></div></div>"
                        );
                    }
                }
            })
        }
        if(string==s2){
            $.ajax({
                url:"/course/popular",
                type:"get",
                success:function (data){
                    coursesBox.html("");
                    for(var i=0;i<data.length;i++) {
                        coursesBox.append("<div class=\"col-sm-6 col-md-6\"><div class=\"thumbnail\">" +
                            "<div class=\"caption text-center\">" +
                            "<h3>"+
                            data[i].name+
                            "</h3>"+
                            "<p class=\"introduction\">"+
                            data[i].introduction+
                            "<p class=\"courselink\"><a href=\"/courseDetail/" +
                            data[i].id+
                            "\" class=\"btn btn-info\" role=\"button\">课程详情</a></p></div></div>"
                        );
                    }
                }
            })
        }
        if(string==s3){
            data={
                courseName:$("#search").val()
            };
            $.ajax({
                url:"/course/search",
                type:"post",
                data:data,
                success:function(data){
                    coursesBox.html("");
                    for(var i=0;i<data.length;i++) {
                        coursesBox.append("<div class=\"col-sm-6 col-md-6\"><div class=\"thumbnail\">" +
                            "<div class=\"caption text-center\">" +
                            "<h3>"+
                            data[i].name+
                            "</h3>"+
                            "<p class=\"introduction\">"+
                            data[i].introduction+
                            "<p class=\"courselink\"><a href=\"/courseDetail/" +
                            data[i].id+
                            "\" class=\"btn btn-info\" role=\"button\">课程详情</a></p></div></div>"
                        );
                    }
                }
            })
        }
    }

</script>

</body>
</html>