<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>欢迎注册！</title>
    <link rel="stylesheet" href="templates/css/bootstrap.css">
</head>
<body style="background:url(/templates/images/registerBackground.jpg) no-repeat center center fixed; background-size: 100%;">
<script src="templates/js/jquery-3.4.1.min.js"></script>
<script src="templates/js/bootstrap.js"></script>
<script>
    function addStudent(){
        var data={
            identity: $("input[name='identity']:checked").val(),
            name: $("#name").val(),
            password: $("#password").val(),
            phoneNumber:$("#phoneNumber").val(),
            schoolName:$("#schoolName").val()
        };
        $.post("/register",data,function (){
            window.location.href='/login';
        });
    }

    $(document).ready(function(){
        $('#password').on('input propertychange', function() {
            //input propertychange即实时监控键盘输入包括粘贴
            var pwd = $.trim($(this).val());
            //获取this，即ipwd的val()值，trim函数的作用是去除空格
            var rpwd = $.trim($("#confirmCustomerPassword").val());
            if(rpwd!=""){
                if(pwd==""&&rpwd==""){
                    //若都为空，则提示密码不能为空，为了用户体验（在界面上用required同时做了处理）
                    $("#msg_pwd").html("<font color='red'>密码不能为空</font>");
                }
                else{
                    if(pwd==rpwd){                                 //相同则提示密码匹配
                        $("#msg_pwd").html("<font color='green'>两次密码匹配通过</font>");
                        $("#submit").attr("disabled",false); //使按钮无法点击
                    }else{                                          //不相同则提示密码匹配
                        $("#msg_pwd").html("<font color='red'>两次密码不匹配</font>");
                        $("#submit").attr("disabled",true);
                    }
                }}
        })
    })

    //由于是两个输入框，所以进行两个输入框的几乎相同的判断
    $(document).ready(function(){
        $('#confirmCustomerPassword').on('input propertychange', function() {
            var pwd = $.trim($(this).val());
            var rpwd = $.trim($("#password").val());
            if(pwd==""&&rpwd==""){
                $("#msg_pwd").html("<font color='red'>密码不能为空</font>");
            }
            else{
                if(pwd==rpwd){
                    $("#msg_pwd").html("<font color='green'>两次密码匹配通过</font>");
                    $("#submit").attr("disabled",false);
                }else{
                    $("#msg_pwd").html("<font color='red'>两次密码不匹配</font>");
                    $("#submit").attr("disabled",true);
                }
            }
        })
    })




</script>

<h1 style="text-align: center">欢迎来到在线课程学习平台！</h1>
<div class="modal-dialog container"style="margin-top: 5%">
    <div class="modal-content">
        <div class="modal-header">
            <h4 class="modal-title text-center">注册</h4>
        </div>
        <div class="modal-body">
            <div class="form-group">
                用户身份：<label><input name="identity" type="radio" value="student" class="stuForm"/>学生</label>&nbsp;&nbsp;&nbsp;
                <label><input name="identity" type="radio" value="teacher" class="stuForm"/>老师</label>
            </div>
            <div class="form-group">
                用户名：<input name="name" type="text" id="name" class="stuForm"/>
            </div>
            <div class="form-group">
                密码： <input type="text" name="password" id="password" class="stuForm"/>
            </div>
            <div class="form-group">
                确认密码：<input type="text" id="confirmCustomerPassword" class="stuForm"/>
            </div>
            <div class="form-group">
                手机号：<input type="text" name="phoneNumber" id="phoneNumber"class="stuForm"/>
            </div>
            <div class="form-group">
                所属学校：<input type="text" name="schoolName" id="schoolName"class="stuForm"/>
            </div>
        </div>
        <p id="msg_pwd" style="margin-left: 150px"></p>
        <div class="modal-footer">
            <div class="form-group">
                <input type="submit"id="submit"value="注册" onclick="addStudent()">
            </div>
            <div class="form-group">
                <a href="/login"class="btn btn-primary"role="button">已有账号？点击登录</a>
            </div>
        </div>
    </div>
</div>
</body>
</html>