<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div id="all" style="background:#222d32">
    <header class="header">
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!--            <a href="#all"class="navbar-brand scroll-to"><img alt="Brand" src="/templates/images/logo.jpg"style="width: 40px;height:40px"></a>-->
                    <a class="navbar-brand"id="showUserName" href="/home">
                        <span class="glyphicon glyphicon-home"></span>首页
                    </a>
                    <div class="navbar-buttons">
                        <button type="button"data-toggle="collapse"data-target=".navbar-collapse" class="navbar-toggle navbar-btn">菜单</button>
                    </div>
                </div>
                <div id="navigation"class="collapse navbar-collapse navbar-right">
                    <a href="/login" class="btn navbar-btn btn-ghost">请登录</a></li>
                    <a href="/mine" class="btn navbar-btn btn-ghost"><span class="glyphicon glyphicon-tree-deciduous"></span>我的</a>
                    <a href="/ide" class="btn navbar-btn btn-ghost" target="_blank">在线编译环境</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="margin-top: 53px">
        <div class="row">
            <div class=" col-md-2"style="background:#222d32;color:white;height:550px">
                <h2 id="showUserName2">你好!</h2>
                <ul class="nav nav-pills" role="tablist">
                    <li><a href="#" onclick="stuMyCourses()" autofocus="autofocus">我参加的课程</a></li>
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            我所有的作业<b class="caret"></b>
                        </a>
                        <ul class="dropdown-menu">
                            <li><a href="#"onclick="allFinishedAssignments()">已做完的作业</a></li>
                            <li><a href="#" onclick="allUndoAssignments()">未做完的作业</a></li>
                        </ul>
                    </li>
                    <li><a href="#" data-toggle="modal" data-target="#changePassword" data-backdrop="static">修改密码</a></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-md-9 col-md-push-1"id="presentation"style="background: silver"></div>
        </div>
    </div>

    <div id="commentCourses" class="modal fade" tabindex="-1"role="dialog"aria-labelledby="commentCourses" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <button type="button" data-dismiss="modal" aria-hidden="true" class="close">×</button>
                    <h4 class="modal-title">
                        评价课程
                    </h4>
                </div>
                <div class="modal-body">
                    <form action="/addComment" method="post" enctype="multipart/form-data">
                        <label>评价内容：</label><textarea id="commentContent"width="90%"height="40%"placeholder="请输入评价的内容"name="commentContent"></textarea>
                    <br>
                    <br>
                    <br>
                        <label>图片：</label><input type="file" id="commentImage" name="commentImage"><br>
                        <div class="text-right"><button type="submit" class="btn btn-primary">提交</button></div>
                    </form>
                </div>
            </div>
        </div>
    </div>


<!--修改密码弹窗-->
<div id="changePassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" >修改密码</h4>
            </div>

            <div class="modal-body">
                <form id="form2">
                    <br>
                    新 密 码: <input type="text"name="password" id="password"/>
                    <br>
                    确认新密码：<input type="text"name="confirmPassword" id="confirmPassword"/>
                </form>
            </div>

            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" onclick="changePassword()">提交</button>
            </div>
        </div>
    </div>
</div>
</div>
<script>
    $(document).ready(function () {
        $.ajax({
            url: "/loginOrNot",
            type: "get",
            success: function (data) {
                if (data.name) {
                    $("#showUserName").html("<span class=\"glyphicon glyphicon-home\"></span>首页/欢迎" + data.name);
                    $("#showUserName2").append(data.name);
                }
                ;
                if (data.identity == "student") {
                    $(".teaOnly").hide();
                }
            }
        });
        stuMyCourses();
    });
    function recordCourseId(courseId){
        $.ajax({
            url:"/commentCourseId",
            type:"post",
            data:{
                courseId:courseId
            }
        })
    }


    //修改学生密码
    function changePassword(){
        var data={
            password:$('#password').val()
        };
        $.ajax({
            url:"/changePassword",
            data:data,
            type:"post",
            success:function (){
                alert("修改密码成功");
                $("#changePassword").modal('hide');
            }
        })
    }


    //显示学生参加的所有课程
    function stuMyCourses(){
        $.ajax({
            url:"/stuMyCourses",
            type:"get",
            success:function (data){
                var divPresentation = $("#presentation");
                divPresentation.html("");
                for(var i=0;i<data.length;i++){
                    divPresentation.append(
                        "<div class=\"thumbnail\"><div class=\"caption text-center\"><h3>"
                        + data[i].name
                        +"</h3><p class=\"introduction\">"
                        + data[i].introduction
                        +"</p><p><a href=\"/courseDetail"
                        + data[i].id
                        + "\"type=\"button\" class=\"btn btn-info\">"
                        + "课程详情"
                        + "</a></p><button type=\"button\" class=\"btn btn-primary\" onclick=\"exitCourses("
                        + data[i].id
                        + ")\">退出该课程</button>"
                        +"<button type=\"button\" class=\"btn btn-primary\" data-toggle=\"modal\" data-target=\"#commentCourses\" data-backdrop=\"static\" onclick=\"recordCourseId("
                        + data[i].id
                        + ")\">评价该课程</button>"
                        +"</div></div>"
                    )
                }
            }
        })
    }
    function exitCourses(cId){
        courseId=cId;
        var data={
            courseId:courseId
        };
        $.ajax({
            url:"/exitCourses",
            data:data,
            type:"post",
            success:function(){
                alert("退出课程成功！");
            }
        })
    };

    function allUndoAssignments(){
        $.ajax({
            url:"/allUndoAssignments",
            type:"get",
            success:function (data){
                var divPresentation = $("#presentation");
                divPresentation.html("");
                for(i=0;i<data.length;i++){
                    divPresentation.append("<div class=\"thumbnail\"><div class=\"caption text-center\"><h3>"
                        + data[i].courseName + "</h3>"
                        + "<p>第"+ data[i].serialNumber +"次布置的作业</p>"
                        + "<p>题目：" + data[i].name + "</p><p class='text-muted'>过期时间"
                        + data[i].expireAt.substring(0, 10)
                        +"<p>"
                        +"<button type=\"button\" class=\"btn btn-primary\" onclick=\"finishedAssignment("
                        + data[i].id
                        + ")\">已完成作业</button>"
                        +"</div></div>"
                    );
                }
            }
        })
    }
    function allFinishedAssignments(){
        $.ajax({
            url:"/allFinishedAssignments",
            type:"get",
            success:function (data){
                var divPresentation = $("#presentation");
                divPresentation.html("");
                for(i=0;i<data.length;i++){
                    divPresentation.append("<div class=\"thumbnail\"><div class=\"caption text-center\"><h3>"
                        + data[i].courseName + "</h3>"
                        + "<p>第"+ data[i].serialNumber +"次布置的作业</p>"
                        + "<p>题目：" + data[i].name + "</p><p class='text-muted'>过期时间"
                        + data[i].expireAt.substring(0, 10)
                        +"<p></div></div>"
                    );
                }
            }
        })
    }
    function finishedAssignment(assignmentStudentId){
        $.ajax({
            url:"/finishedAssignment",
            type:"get",
            data:{
                assignmentStudentId:assignmentStudentId
            },
            success:function (){
                alert("完成作业。");
            }
        })
    }


</script>
</body>
</html>