<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>我的</title>
    <link href="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.bootcdn.net/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://cdn.bootcdn.net/ajax/libs/twitter-bootstrap/3.4.1/js/bootstrap.min.js"></script>
</head>
<body>
<div id="all" style="background:#222d32">
    <header class="header">
        <nav role="navigation" class="navbar navbar-default navbar-fixed-top">
            <div class="container">
                <div class="navbar-header">
                    <!--            <a href="#all"class="navbar-brand scroll-to"><img alt="Brand" src="/templates/images/logo.jpg"style="width: 40px;height:40px"></a>-->
                    <a class="navbar-brand"id="showUserName" href="/home">
                        <span class="glyphicon glyphicon-home"></span>首页
                    </a>
                    <div class="navbar-buttons">
                        <button type="button"data-toggle="collapse"data-target=".navbar-collapse" class="navbar-toggle navbar-btn">菜单</button>
                    </div>
                </div>
                <div id="navigation"class="collapse navbar-collapse navbar-right">
                    <a href="/login" class="btn navbar-btn btn-ghost">请登录</a></li>
                    <a href="/mine" class="btn navbar-btn btn-ghost"><span class="glyphicon glyphicon-tree-deciduous"></span>我的</a>
                    <a href="/contactStu" class="btn navbar-btn btn-ghost" target="_blank">教师与学生对话页面</a>
                </div>
            </div>
        </nav>
    </header>

    <div class="container" style="margin-top: 53px">
        <div class="row">
            <div class=" col-md-2"style="background:#222d32;color:white;height:550px">
                <h2 id="showUserName2">你好!</h2>
                <ul class="nav nav-pills" role="tablist">
                    <li><a href="#" onclick="teaMyCourses()" autofocus="autofocus">我教的课程</a></li>
                    <li><a href="#" onclick="teaAssignment()">我布置的作业</a></li>
                    <!--课程下新增作业的按钮，不用，一直隐藏，只是为了跟弹框匹配-->
                    <li class="hidden"><a href="#" data-toggle="modal" data-target="#addAssignment" data-backdrop="static">课程下新增作业</a></li>
                    <!--新增课程的按钮-->
                    <li><a href="#" data-toggle="modal" data-target="#addCourse" data-backdrop="static">新增课程</a></li>
                    <!--增加个人简介的按钮-->
                    <li><a href="#" data-toggle="modal" data-target="#addTeaProfile" data-backdrop="static">新增或修改个人简介</a></li>
                    <li><a href="#" onclick="myProfile()">个人简介</a></li>
                    <li></li>
                </ul>
            </div>
            <div class="col-md-9 col-md-push-1"id="presentation"style="background: silver"></div>
        </div>
    </div>

    <!--新增课程的弹窗-->
    <div id="addCourse" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addCourse" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" >新增课程</h4>
                </div>

                <div class="modal-body">
                    <form id="form">
                        课程名: <input type="text" name="courseName" id="courseName"/>
                        <br>
                        简介: <input type="text"name="introduction" id="introduction"/>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addCourse()">提交</button>

                </div>
            </div>
        </div>
    </div>
    <!--新增教师简介弹窗-->
    <div id="addTeaProfile" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addTeaProfile" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" >新增我的个人简介</h4>
                </div>

                <div class="modal-body">
                    <form id="form2">
                        <br>
                        个人简介: <input type="text"name="teaProfile" id="teaProfile"/>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="addTeaProfile()">提交</button>
                </div>
            </div>
        </div>
    </div>

    <!--新增作业的弹窗-->
    <div id="addAssignment" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="addAssignment" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" >新增作业</h4>
                </div>

                <div class="modal-body">
                    <form id="form3">
                        作业题目: <input type="text"name="name" id="name"/>
                        <br>
                        作业答案: <input type="text" name="answer" id="answer"/>
                        <br>
                        作业截止日期: <div class="input-group date form_date" data-date="" data-date-format="yyyy-mm-dd"  data-link-format="yyyy-mm-dd">
                        <input class="form-control" size="16" type="text" value=""id="expireDate" readonly>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-remove"></span></span>
                        <span class="input-group-addon"><span class="glyphicon glyphicon-calendar"></span></span>
                    </div>
                        <br>
                        作业序号：<input class="form-control" type="text" placeholder="请输入大于等于1的数字（为作业分组）"id="serialNumber">


                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="assignmentProcess()">提交</button>
                </div>
            </div>
        </div>
    </div>


    <!--修改密码弹窗-->
    <div id="changePassword" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="changePassword" aria-hidden="true">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title" >修改密码</h4>
                </div>

                <div class="modal-body">
                    <form id="form4">
                        <br>
                        新 密 码: <input type="text"name="password" id="password"/>
                        <br>
                        确认新密码：<input type="text"name="confirmPassword" id="confirmPassword"/>
                    </form>
                </div>

                <div class="modal-footer">
                    <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                    <button type="button" class="btn btn-primary" onclick="changePassword()">提交</button>
                </div>
            </div>
        </div>
    </div>
</div>
<script>
    var courseId;
    $(document).ready(function (){
        //判断并显示用户的登录信息
        $.ajax({
            url:"/loginOrNot",
            type:"get",
            success:function (data){
                if(data.name){
                    $("#showUserName").html("<span class=\"glyphicon glyphicon-home\"></span>首页/欢迎"+data.name);
                };
                if(data.identity=="teacher"){
                    alert("请打开教师与学生对话页面，以免错过学生的信息。");
                }else if(data.identity=="student"){
                    $(".teaOnly").hide();
                }
            }
        });
        teaMyCourses();
        // $('expireDate').datetimepicker();
    });

    //新增课程
    function addCourse(){
        var data={
            courseName:$("#courseName").val(),
            introduction:$("#introduction").val()
        };
        $.ajax({
            url:"/course",
            data:data,
            type:"post",
            success:function (){
                alert("新增课程成功");
                $("#addCourse").modal('hide');
            }
        })
    }
    //新增或改变教师简介
    function addTeaProfile(){
        var data={
            teaProfile:$('#teaProfile').val()
        };
        $.ajax({
            url:"/addTeaProfile",
            data:data,
            type:"post",
            success:function (){
                alert("新增个人简介成功");
                $("#addTeaProfile").modal('hide');
            }
        })
    }

    //显示我的简介
    function myProfile(){
        $.ajax({
            url:"/teaProfile",
            type:"get",
            success:function (data){
                var divPresentation = $("#presentation");
                divPresentation.html("");
                divPresentation.append(
                    '<h2>个人简介</h2>'
                    +'<p class="text-muted">'
                    + data.teaProfile
                    +'</p>'
                );
            }
        })
    }

    //显示教师的所有课程，新增作业的按钮在这里
    function teaMyCourses(){
        $.ajax({
            url:"/teaMyCourses",
            type:"get",
            success:function (data){
                var divPresentation = $("#presentation");
                divPresentation.html("");
                for(var i=0;i<data.length;i++){
                    divPresentation.append(
                        '<div class="thumbnail"><div class="caption text-center"> <h3>'
                        + data[i].name
                        +'</h3><p class="introduction">'
                        + data[i].introduction
                        +'</p><p><a href="/courseDetail/'
                        + data[i].id + '"class="btn btn-info" role="button">'
                        + '课程详情'
                        +'</a></p><button type="button" class="btn btn-primary" onclick="addAssignment('
                        + data[i].id+ ')">新增作业</button></div></div>'
                    )
                }
            }
        })
    }

    function addAssignment(cId){
        $("#addAssignment").modal('show');
        courseId=cId;
    };
    function assignmentProcess(){
        var data={
            name: $("#name").val(),
            answer:$("#answer").val(),
            expireDate:$("#expireDate").val(),
            courseId:courseId,
            serialNumber:$("#serialNumber").val()
        };
        $.ajax({
            url:"/courseAssignment",
            data:data,
            type:"post",
            success:function(){
                alert("新增作业成功！");
                $("#addAssignment").modal('hide');
            }
        })
    };

    //日期选择器的js
    $('.form_date').datetimepicker({
        language:  'En',
        weekStart: 1,
        todayBtn:  1,
        autoclose: 1,
        todayHighlight: 1,
        startView: 2,
        minView: 2,
        forceParse: 0
    });

    //显示所有作业
    function teaAssignment(){
        $.ajax({
            url:"/teaAssignments",
            type:"get",
            success:function (data){
                var divPresentation = $("#presentation");
                divPresentation.html("");
                for(var i=0;i<data.length;i++){
                    var date=new Date(data[i].expireDate);
                    divPresentation.append(
                        '<div class="thumbnail"><div class="caption text-center"><h3>题目: '
                        + data[i].name
                        +'</h3><p class="answer">答案: '
                        + data[i].answer
                        +'</p><p class="expireDate">截止日期: '
                        + date.getFullYear().toString()
                        + '-'
                        +date.getMonth().toString()
                        + '-'
                        + date.getDate().toString()
                        +'</p></div></div>'
                    )
                }
            }
        })
    }
</script>
</body>
</html>